{% extends 'blog/base.html' %}

{% block content %}
<div class="hero-unit">
    <h1>Welcome to Tensor Studios</h1>
    <p>Find information about our studio and development projects here.</p>
</div>

<div class="row-fluid">
    <div class="span6">
        <h2>Current Projects</h2>
        {% if projects %}
        <ul>
            {% for project in projects %}
            <li><a href="/project/{{ project.pk }}">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No categories at present.</strong>
        {% endif %}

    </div>
    <!--/span-->
    <div class="span6">
        <h2>Recent Blog Entries</h2>
        {% if posts %}
        <ul>
            {% for post in posts %}
            <li><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a> - {{ post.project }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages at present.</strong>
        {% endif %}

    </div>
    <!--/span-->
</div>
<!--/row-->
{% endblock %}